$primary: #51a3ff;
$secondary: #e93c76;
$dark: #282b35;

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $primary;
}

.MainNavbar {
  background-color: $dark;
  display: flex;
  align-items: center;
  padding: 0 5px;
  min-height: 50px;
}
.MainNavbar__logo {
  height: 30px;
}
.MainNavbar__link--main {
  flex-grow: 1;
}
.MainNavbar__link {
  color: white;
  text-decoration: none;
  padding: 5px;
}

main {
  padding: 0 10px;
}

.table-dashboard {
  border-collapse: collapse;

  thead {
    background-color: $primary;
    color: white;
  }
  tr:nth-child(2n) {
    background-color: #51a3ff10;
  }
  tr:hover {
    background-color: #51a3ff30;
  }
  td,
  th {
    padding: 10px;
  }
}

.btn {
  border: none;
  height: 1.9em;
  padding: 0 10px;
  cursor: pointer;
}
.btn.btn--primary {
  background-color: $primary;
  color: white;
}

.cell-with-arrows {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell-with-arrows__arrows {
  margin-left: 10px;
}
.cell-with-arrows__arrow {
  cursor: pointer;
}
